4d_theta/sbi-logs
4d_theta/model 8/training_theta_g100k_s100p.csv
4d_theta/model 8/training_x_g100k_s100p.csv
4d_theta/model 8/inference_model_8.pkl
4d_theta/model_13/train_theta_g100k.csv
4d_theta/model_13/train_x_g100k.csv
4d_theta/model_13/inference_model_13.pkl
4d_theta/model_13/inference_model_13_v2.pkl
4d_theta/model_13_1/inference_model_13_1.pkl
4d_theta/model_13_1/train_theta_model_13_1.csv
4d_theta/model_13_1/train_x_model_13_1.csv
